<table>
  <tr>
    <th>STT</th>

    <th>Nội dung kiểm tra</th>

    <th>Phương pháp đo</th>

    <th>Thông số thực tế đo được</th>

    <th>Thông số thiết kế</th>

    <th>Số lượng đạt</th>

    <th>Số lượng không đạt</th>

    <th>Ghi chú</th>
  </tr>

  <tbody>
    <!-- Break -->
    <!-- <tr>
      <td colspan="11" style="border: none">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="11" style="border: none">&nbsp;</td>
    </tr> -->
    <!-- Break -->
    <!-- content -->
  </tbody>
</table>
