<DIV id="id1_3">
    <P class="p14 ft13">$tenDiemBocNhan</P>
</DIV>
<DIV id="id1_4" style="border: 1px solid #bebdbd; border-left: none;">
    <DIV id="id1_4_1">
        <TABLE cellpadding=0 cellspacing=0 class="t2">
            <tr>
                <td colspan="2">
                    $diaChiBocNhan
                </td>
            </tr>
            <TR>
                <TD class="tr10 td20">
                    <P class="p2 ft11">Thời gian: $thoiGianBocNhan</P>
                </TD>
                <TD class="tr3 td20">
                    <P class="p2 ft11">Người liên hệ: $tenNguoiLienHe</P>
                </TD>
            </TR>
            <TR>
                <TD class="tr3 td21">
                    <P class="p2 ft1">SĐT: $soDienThoaiNguoiLienHe</P>
                </TD>
            </TR>
            <!-- CacDongMoRongChoDiemBocNhan -->
        </TABLE>
    </DIV>
    <DIV id="id1_4_2">
        <!-- CacDongHangHoaVaMoRong -->
    </DIV>
</DIV>