<style>
  * {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
  }
  body {
    margin-top: 0px;
    margin-left: 0px;
  }

  /* /////////////////// */
  .d-flex {
    display: flex;
  }
  .flex-1 {
    flex-grow: 1;
  }
  .flex-50 {
    flex: 50%;
  }

  span {
    color: rgb(101, 103, 107);
    font-weight: normal;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }

  td,
  th {
    border: 1px solid #000000;
    /* border-bottom: 9px; */
    text-align: left;
    padding: 8px;
  }

  .no-border-table,
  .no-border-table td,
  .no-border-table th {
    border: none;
    border-collapse: unset;
  }

  table,
  tr,
  td {
    page-break-inside: avoid;
    font-size: 13px;
  }
  .footer tr,
  .footer td {
    font-size: 16px;
  }
  tr {
    margin-top: -1px;
    position: relative;
  }
  .table-content table td {
    border-bottom: none;
  }
  /* Helps */
  .align-bottom {
    vertical-align: bottom;
  }
  .font-weight-100 {
    font-weight: 100;
  }
  .margin-0 {
    margin: 0;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  /*  */
</style>
