<TR>
    <TD class="tr8 td6">
        <P class="p10 ft11">$soThuTu</P>
    </TD>
    <TD class="tr8 td7">
        <P class="p2 ft11">$tenMatHang</P>
    </TD>
    <TD class="tr8 td1">
        <P class="p7 ft11">$donViMatHang</P>
    </TD>
    <TD class="tr8 td4">
        <P class="p8 ft1">$soLuong</P>
    </TD>
    <TD class="tr8 td5">
        <P class="p9 ft1">$khoiLuongMatHang </P>
    </TD>
    <TD class="tr8 td5">
        <P class="p9 ft1">$kichThuocHangHoa </P>
    </TD>
</TR>