<DIV>
    <TABLE cellpadding=0 cellspacing=0 class="t0">
        <TR>
            <TD colspan=2 class="tr5 td0">
                <P class="p1 ft6">Tổng hàng hóa</P>
            </TD>
            <TD class="tr5 td1">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr5 td4">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr5 td5">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr5 td3">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
        </TR>
        <TR>
            <TD class="tr6 td8">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td9">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td10">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td11">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td12">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td13">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
        </TR>
        <TR>
            <TD class="tr7 td6">
                <P class="p6 ft8">STT</P>
            </TD>
            <TD class="tr7 td7">
                <P class="p2 ft8">Tên mặt hàng</P>
            </TD>
            <TD class="tr7 td1">
                <P class="p7 ft8">Đơn vị</P>
            </TD>
            <TD class="tr7 td4">
                <P class="p8 ft9">Số lượng</P>
            </TD>
            <TD class="tr7 td5">
                <P class="p9 ft8">Trọng lượng</P>
            </TD>
            <TD class="tr7 td3">
                <P class="p2 ft10">Kích thước</P>
            </TD>
        </TR>
        <!-- DanhSachHangHoa -->
        <TR>
            <TD class="tr6 td14">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td15">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td16">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td17">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td18">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
            <TD class="tr6 td19">
                <P class="p2 ft7">&nbsp;</P>
            </TD>
        </TR>
        <!-- TongHangHoa -->
    </TABLE>
</DIV>