<div>
  <table>
    <tr>
      <th rowspan="4">
        <img
          width="150px"
          src="data:image/png;base64,{{thongTinHeader.logo}}"
          alt="Logo" />
      </th>
      <th colspan="2">
        <h2 class="text">PHIẾU KCS</h2>
      </th>

      <th>Biểu mẫu:</th>
    </tr>

    <!-- <tbody> -->
    <tr>
      <td>Mã Lệnh : {{thongTinHeader.maLenh}}</td>
      <td>Mã sản phẩm : {{thongTinHeader.maSanPham}}</td>
      <td>Mã số : {{thongTinHeader.maSo}}</td>
    </tr>
    <tr>
      <td>Người lập : {{thongTinHeader.nguoiLap}}</td>
      <td>Bộ phận : {{thongTinHeader.boPhan}}</td>
      <td>Phiên bản: {{thongTinHeader.phienBan}}</td>
    </tr>
    <tr>
      <td>Ngày lập : {{thongTinHeader.ngayLap}}</td>
      <td>Số seri : Công đoạn {{thongTinHeader.soSeri}}</td>
      <td>Ngày ban hành: {{thongTinHeader.NgayBanHanh}}</td>
    </tr>
    <!-- </tbody> -->
  </table>
</div>
<div>&nbsp;</div>
