<DIV id="id1_9" style="margin-top: 20px;">
    <TABLE cellpadding=0 cellspacing=0 class="t3">
        <TR>
            <TD class="tr11 td20">
                <P class="p2 ft6">Giá cước</P>
            </TD>
            <TD class="tr11 td22">
                <P class="p2 ft6">Khách hàng</P>
            </TD>
            <TD class="tr11 td3">
                <P class="p2 ft16">Người lập</P>
            </TD>
        </TR>
    </TABLE>
</DIV>
<DIV id="id1_10">
    <P class="p14 ft1">$giaCuocDonHang</P>
</DIV>