<DIV>
    <P class="p0 ft0">$tenCongTyVanChuyen</P>
    <TABLE cellpadding=0 cellspacing=0 class="t0">
        <TR>
            <TD colspan=2 class="tr0 td0">
                <P class="p1 ft1">$tenDuongPho</P>
            </TD>
            <TD colspan=2 rowspan=2 class="tr1 td2">
                <P class="p3 ft3">Đơn Hàng</P>
            </TD>
            <TD class="tr0 td1">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr0 td3">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
        </TR>
        <TR>
            <TD colspan=2 class="tr2 td0">
                <P class="p1 ft1">$tenQuanHuyenTinh</P>
            </TD>
            <TD class="tr2 td1">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr2 td3">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
        </TR>
        <TR>
            <TD colspan=2 class="tr3 td0">
                <P class="p1 ft1">(+84) <NOBR>$soDienThoaiCongTy</NOBR>
                </P>
            </TD>
            <TD colspan=2 class="tr3 td2">
                <P class="p4 ft4">Ngày lập: $ngayLapDonHang</P>
            </TD>
            <TD class="tr3 td1">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr3 td3">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
        </TR>
        <TR>
            <TD colspan=2 class="tr4 td0">
                <P class="p1 ft5">Khách hàng</P>
            </TD>
            <TD class="tr4 td1">
                <P class="p2 ft5">Hợp đồng</P>
            </TD>
            <TD class="tr4 td4">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr4 td5">
                <P class="p5 ft5">Số đơn hàng</P>
            </TD>
            <TD class="tr4 td3">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
        </TR>
        <TR>
            <TD class="tr3 td6">
                <P class="p1 ft1">$tenKhachHang</P>
            </TD>
            <TD class="tr3 td7">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr3 td1">
                <P class="p2 ft1">$tenHopDong</P>
            </TD>
            <TD class="tr3 td4">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr3 td5">
                <P class="p5 ft1">
                    <NOBR>$soHieuDonHang</NOBR>
                </P>
            </TD>
            <TD class="tr3 td3">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
        </TR>
        <TR>
            <TD class="tr0 td6">
                <P class="p1 ft1">Địa chỉ : $diaChiKhachHang</P>
            </TD>
            <TD class="tr0 td7">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr0 td1">
                <P class="p2 ft5">Loại dịch vụ</P>
            </TD>
            <TD class="tr0 td4">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr0 td5">
                <P class="p5 ft5">Ngày đến hạn</P>
            </TD>
            <TD class="tr0 td3">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
        </TR>
        <TR>
            <TD colspan=2 class="tr3 td0">
                <P class="p1 ft1">Số điện thoại: $soDienThoaiKhachHang</P>
            </TD>
            <TD class="tr3 td1">
                <P class="p2 ft1">$loaiDichVuVanChuyen</P>
            </TD>
            <TD class="tr3 td4">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
            <TD class="tr3 td5">
                <P class="p5 ft1">$ngayDenHan</P>
            </TD>
            <TD class="tr3 td3">
                <P class="p2 ft2">&nbsp;</P>
            </TD>
        </TR>
    </TABLE>
</DIV>